@{
    ViewData["Title"] = "Server Error";
}
<h1 class="text-danger">500 - Internal Server Error</h1>
<p>Oops! Something went wrong on our end. We're working on a fix.</p>
<a href="/" class="btn btn-primary"> Go to Homepage</a>